# OS X stuff
.DS_Store

# XCode stuff
*.xcworkspacedata
UserInterfaceState.xcuserstate
*.xcscheme
*.xcbkptlist
xcschememanagement.plist
*.xcuserstate

Save Us Ada.xcodeproj/project.xcworkspace/xcuserdata/jonmorgan.xcuserdatad/UserInterfaceState.xcuserstate
